.gallery-section-container {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    padding: 16px 0;
}

.gallery-section-images-container {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}

.gallery-section-small-images-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gallery-section-small-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 8px 16px
}

.gallery-section-large-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 16px
}

.gallery-section-title {
    padding-top: 8px;
}